body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }

  .full-screen-container {
    margin: 5%;  
  }
  
  .custom-container {
    background-color: white;
    border-radius: 15px;
    padding: 20px;
  }
  
  .no-shadow {
    box-shadow: none;
  }